include head.pug
div.content
  a(href="/howtojoin/android")
    <button ><i class="fab fa-android"></i>&nbsp; Android</button>
  a(href="/howtojoin/windows")
    <button ><i class="fab fa-windows"></i>&nbsp; Windows</button>
  a(href="/suggest")
    <button ><i class="fab fa-apple"></i>&nbsp; iOS</button>
  a(href="/")
    <button><i class="fa fa-arrow-left"></i>&nbsp; Back</button>