include head.pug
div.content
  h2 Welcome to GTGD Website!
  p
 
     a(href="https://discord.gg/SRfcYvUnvu") Join our Discord server
  h3 What does GrowDarken offer?
  p GrowDarken has many different custom items for you. Economy is stable, role prices are cheap. You can reach us from this website.
  h3 Support and Suggestions
  a(href="/suggest")
    <button ><i class="fa fa-link"></i>&nbsp; Suggest</button>
  a(href="/howtojoin")
    <button><i class="fa fa-question"></i>&nbsp; How to Join</button>
  p.small GrowDarken website, Designed and coded by Yusuf Keleş. Discord: Disitific#4777