include head.pug
div.content
  p= successmsg
  button(onclick="history.go(-1)") Go Back
  <p class="small">Want to take a look at our server? Join GTGD Discord server <a href="https://discord.gg/SRfcYvUnvu">here</a>.</p>